body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(0, 0, 0);
    margin: 0;
}

.title {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 34px;
    margin-bottom: 20px;
}
.home-link {
  color: yellow;
  font-size: 36px; /* Increase as needed */
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

.home-link i {
  margin-right: 8px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

a i {
  margin-right: 8px;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px;
    background-color: #000000;
    border-radius: 50px;
    box-shadow: 0px 20px 90px rgba(7, 4, 214, 0.5);
    border: 12px solid #3cca53;
}

.keyboard-layout.active {
    display:contents;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.key {
    width: 75px;
    height: 75px;
    font-size: 15px;
    color: #ffffff;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.key:active {
    background-color: #0b67a5;
    border-color: #555;
}

p{
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    font-style: underline;
    text-align: center;
}


p:hover {
    background-color: #1e2020; /* Slightly darker background on hover */
}
.result2 {
    text-align: center;
    font-size: 24px; 
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f8ff;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#result:hover {
    background-color: #e0f7fa;
}